{% extends "base.html" %}


{% block jumbotron %}
<h1>{{ greetings[0].content }}</h1>
<p class="lead">is this the best comment on the day?</p>

{% endblock %}

{% block content %}

      {% for greeting in greetings %}
      
        <h3>{{ greeting.content }}</h3>
        <p>- {% if greeting.author %}
            {{ greeting.author.nickname() }}
        {% else %}
         Anonymous
        {% endif %}</p>
    
      {% endfor %}

  <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><input type="text" name="content" placeholder="your witty comment" class="full-width"></textarea></div>
      <div><input type="submit" value="Sign Guestbook" class="btn btn-large btn-success"></div>
  </form>

  <hr />

  <form>Guestbook name:
    <input value="{{ guestbook_name }}" name="guestbook_name">
    <input type="submit" value="switch" class="btn btn-primary">
  </form>

  <a href="{{ url|safe }}">{{ url_linktext }}</a>
{% endblock %}